$font-1:'Barlow Semi Condensed', sans-serif;
$main-color-1:hsl(263, 55%, 52%);
$main-color-2: hsl(217, 19%, 35%);
$main-color-3: hsl(219, 29%, 14%);
$main-color-4:  hsl(0, 0%, 100%) ;
$neutral-color-1:hsl(0, 0%, 81%);
$neutral-color-2:hsl(210, 46%, 95%);

@function em($pixel, $contexto: 16) {
  @return $pixel / $contexto + em;
}

@mixin style-1($size) {
  font-family: $font-1;
  
  @if $size == 13500 {
    font-size: em(13);
    font-weight: 500;
  }
  @else if $size == 13600 {
    font-size: em(13);
    font-weight: 600;
  }
  @else if $size == 16 {
    font-size: em(16, 16);
    font-weight: 600;
  }
}